.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.filterGroup-ul {
  list-style-type: none;
  padding: 0px;
}
.filterGroup-btn {
  background-color: transparent;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
}
.star-logo {
  width: 100px;
}
